nav{
    height: 70px;
    position: relative;
}
.login-btn{
    background-color: #A7CE02;
    color: #000;
    border: 2px solid #000;
    /* border-radius: 8px; */
    font-weight: 600;

}
.signup-btn{
    color: #FFF;
    background-color: #2b282e;
    /* background-color: #A7CE02;
    color: #000; */
    border: 2px solid #000;
    /* border-radius: 8px; */
    font-weight: 600;
}
.login-btn:hover{
    color: #FFF;
    background-color: #2b282e;
}

.signup-btn:hover{
    color: #FFF;
    background-color: #2b282e;
}
.web-menu{
    display: none;
}
.web-menu ul{
    margin: 0;
    padding: 0;
}

.web-menu li{
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.web-menu li:hover{
    color: #2b282e;
}

.mob-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A7CE02;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.mob-menu svg{
    font-size: 25px;
}

.mob-menu-tray{
    display: block;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2B282E;
    color: #fff;
    height: 100%;
    width: 100%;
}
.mob-menu-tray ul{
    background-color: #2B282E;
    height: 100vh;
    padding: 100px 0;
}

.mob-menu-tray li{
    list-style: none;
    text-align: center;
    padding: 15px 0;

}
.mob-menu-tray li:hover{
    background-color: #464646;
}

.mob-menu-tray a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.mob-menu-tray svg{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-weight: 600;
    border-radius: 50%;
}
.mob-menu-tray svg:hover{
   background-color: #464646;
}


@media only screen and (min-width: 768px) {
    .web-menu{
        display: flex;
    }
    .mob-menu{
        display: none;
    }
    .mob-menu-tray{
        display: none;

    }
}
